<nav class="navbar">

  <!-- Logo -->
  <div class="nav-brand">
    <div class="brand-icon">
      <i class="bi bi-lightning-charge"></i>
    </div>
    <div class="brand-text">
      <span class="brand-name">AI-Dashboard</span>
    </div>
  </div>

  <!-- Navigation -->
  <div class="nav-links">

    <a class="nav-item" routerLink="/layout/models/profilemodel" routerLinkActive="active">
      <i class="bi bi-person-gear"></i> 
      <span>Model-Profile</span>
    </a>

    <a class="nav-item" routerLink="/layout/models/recommendationmodel" routerLinkActive="active">
      <i class="bi bi-lightbulb"></i>
      <span>Model-Recommendations</span>
    </a>

    <a class="nav-item" routerLink="/layout/models/notification" routerLinkActive="active">
      <i class="bi bi-bell"></i>
      <span>Notifications - Model</span>
    </a>

    <a class="nav-item" routerLink="/layout/models/alerts" routerLinkActive="active">
      <i class="bi bi-exclamation-triangle"></i>
      <span>Alerts - Model</span>
    </a>

    <a class="nav-item" routerLink="/layout/models/retrain" routerLinkActive="active">
      <i class="bi bi-cpu"></i>
      <span>Retrain - Model</span>
    </a>
  </div>

   <!-- Right side -->
  <div class="nav-right">

    
  </div>

</nav>